<!DOCTYPE html>
<html>
  <head>
    <title>Prince-Express</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="info">Hello from Prince Side</h1>
  
  </body>
</html>
